
.dateTitle{
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    display: flex;
}
.dateTitle img{
    width: 18px;
    height: 18px;
    margin-left: 10px;
}
.dateWrapper{
    width: fit-content;
    position: relative;
}

.inputBlock{
    width: fit-content;
    position: relative;
    margin-top: 15px;
}
.inputBlock input{
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    width: 262px;
    box-sizing: border-box;
    padding: 12px 17px;
    padding-left: 40px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}
.inputBlock input:valid,
.inputBlock input:focus{
    border: 1px solid #000000;
}
.inputBlock input:invalid{
    border: none;
}
.inputBlock img{
    position: absolute;
    left: 17px;
    top: 14px;
}
.menu{
    background: #fff;
    border: 1px solid #000;
    border-radius: 25px;
    box-shadow: 0 4px 15px rgba(0,0,0,.1);
    padding: 20px;
    z-index: 78;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    width: 170px;
    z-index: 10;
    top: 55px;
    left: 0;
}
@media screen and (max-width: 565px){
    .dateWrapper, .inputBlock, .inputBlock input{
        width: 100%;
    }
}