
.dateTitle{
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    display: flex;
    position: relative;
}
.dateTitle img{
    width: 18px;
    height: 18px;
    margin-left: 10px;
}
.dateWrapper{
    width: fit-content;
    position: relative;
}
.btn160{
    display: block;
    border: none;
    padding: 13px;
    width: 160px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    background: #58B4D1;
    border-radius: 25px;
    font-family: 'Century Gothic';
    font-weight: 700;
    font-size: 14px;
    border: none;
    justify-content: center;
    cursor: pointer;
}
.btn200:hover, .btn160:hover{
    box-shadow: 0px 4px 15px #58B4D1;
}
.btn200:disabled, .btn160:disabled{
    opacity: 0.5;
}
.inputBlock{
    width: fit-content;
    position: relative;
    margin-top: 15px;
}
.clear{
    position: absolute;
    right: -39px;
    left: auto !important;
    top: 9px !important;
    width: 24px;
    height: 24px;
}
.inputBlock input{
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    width: 262px;
    box-sizing: border-box;
    padding: 12px 17px;
    padding-left: 40px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}
.inputBlock input:valid,
.inputBlock input:focus{
    border: 1px solid #000000;
}
.inputBlock input:invalid{
    border: none;
}
.inputBlock img{
    position: absolute;
    left: 17px;
    top: 14px;
}
.dateTitle img:hover + .popupError{
    display: block;
}
.popupError{
    padding: 20px 15px;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px 4px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    box-sizing: border-box;
    width: 353px;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    position: absolute;
    display: none;
    top: 35px;
    right: -10px;
    z-index: 1000;
}
@media screen and (max-width: 565px){
    .dateWrapper, .dateWrapper .inputBlock, .dateWrapper .inputBlock input{
        width: 100%;
    }
    .clear{
        right: 10px;
        top: 11px !important;
    }
}