
.weakWrapper{
  max-width: 292px;
  width: 100%;
}

.inputsModalWrapper{
  max-width: 292px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  margin-top: 10px;
}
.inputsModalWrapper .weakInput{
  position: relative;
  width: 100%;
}
.popup{
  display: none;
  box-sizing: border-box;
}
.inputsModalWrapper .weakInput input:focus + .popup{
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  width: 100%;
  padding: 15px 25px;
  background: #FFFFFF;
  box-shadow: 0px 4px 15px 4px rgba(0, 0, 0, 0.15);
  border-radius: 25px;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  display: block;
  z-index: 100;
}
.inputsModalWrapper .weakInput .popup img{
  position: relative;
  top: 0;
  left: 0;
  margin-right: 10px;
}
.inputsModalWrapper .weakInput .popup p{
  display: flex;
  align-items: center;
}
.inputsModalWrapper .weakInput input:focus{
  background: rgba(88, 180, 209, 0.3);
}
.inputsModalWrapper .weakInput input{
  padding: 15px;
  width: 100%;
  padding-left: 50px;
  border-radius: 25px;
  box-sizing: border-box;
  outline: none !important;
}
.inputsModalWrapper .weakInput img{
  position: absolute;
  left: 25px;
  top: 16px;
}
.mt30{
  margin-top: 30px;
}
.mt15{
  margin-top: 15px;
}
.checkboxesBlock{
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 100;
  padding: 30px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  box-sizing: border-box;
  display: none;
}
.inputsModalWrapper .weakInput input:focus + .checkboxesBlock, .checkboxesBlock:hover {
  display: block;
}
.weekcounter{
  max-width: 292px;
  width: 100%;
  margin-top: 20px;
}
.btnsRow{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
}
.btnsRow button:disabled{
  opacity: 0.5;
}
.btnsRow button{
  width: 130px;
}
.btnsRow .btn160{
  width: 130px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: 'Century Gothic';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
  padding: 13px;
  background: #58B4D1;
  border-radius: 25px;
  border: none;
}
.btnsRow .btnOutlined{
  width: 130px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: 'Century Gothic';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #58B4D1;
  padding: 13px;
  background: #fff;
  border: 1px solid #58B4D1;
  border-radius: 25px;
}