.card-card .blue-header__number:first-child {
  margin-left: 15px;
}
.card-card .blue-header__image-wrapper:first-child {
  width: auto;
}
.reservation-time__wrapper {
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.reservation-time__wrapper .transfer-booking__form-item--time {
}

.card-card .reservation-time__wrapper .transfer-booking__form-item--time {
  width: 50%;
  box-sizing: border-box;
  margin: 0 10px;
  margin-top: 42px;
}
.reservation-time__wrapper
  .transfer-booking__form-item--time
  .transfer-booking__form-search--time {
  margin: 0;
  box-shadow: none;
}
.reservation-time__wrapper
  .transfer-booking__form-item--time
  .transfer-booking__form-image--time {
  left: 13px;
}
.reservation-time__wrapper
  .transfer-booking__form-item--time
  .transfer-booking__form-top-text {
  left: 0px;
}
.reservation-time__wrapper
  .transfer-booking__form-item--time
  .form-time__input-wrapper {
  left: 0px;
}
.reservation__price {
  margin-top: 10px;
}
.card-card .reservation__danger {
  margin-bottom: 0;
}
.hotel-number .transfer-booking__form-item .car-booking__form-search {
  box-shadow: 0 4px 15px rgba(0,0,0,.1);
}
.hotel-number .transfer-booking__form-item .car-booking__form-search {
  background: #fff;
  border-radius: 25px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 33px;
  max-height: 43px;
  overflow: hidden;
  padding: 5px 10px 5px 34px;
  width: 90%;
}
.car-booking__form-search::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.car-booking__form-search::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.car-booking__form-search:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.car-booking__form-search::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.car-booking__form-search::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.car-booking__form-search:focus {
  background: #58b4d1;
  opacity: 0.3;
}
@media (max-width: 800px){
  .transfer-booking__form-search.car {
    margin-left: 15px;
  }
}