.inputsWrapper label{
    margin-top: 15px;
    max-width: 317px;
}
.inputsWrapper .row{
    gap: 30px;
    margin-left: 15px;
}
.inputsWrapper .radioRow{
    gap: 30px;
    display: flex;
    margin-top: 15px;
}
.inputsWrapper .row label{
    margin-top: 5px;
    margin-bottom: 10px;
}
.inputsWrapper .radioRow label{
    margin-top: 5px;
    margin-bottom: 10px;
}
.inputsWrapper .row label p{
    font-size: 12px;
}
.timeInputsWrapper{
    margin-left: 30px;
    flex-grow:1;
}
.kitchenRow{
    display: flex;
    justify-content: space-between;
    max-width: 610px;
    width: 100%;
}
.comfortRow{
    display: flex;
    gap: 30px;
}
.jcsb .inputsWrapper:last-child{
    margin-right: 100px;
}
.jcsb{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.row30{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
}
.timeInputsWrapper .row p{
    font-weight: 400;
    font-size: 12px;
}
.timeInputsWrapper .row{
    margin-top: 15px;
    gap: 30px;
}
.timeInputsWrapper input{
    max-width: 200px !important;
    width: 100%;
    margin-top: 0px;
}

.inputBlock{
    width: fit-content;
    position: relative;
    margin-top: 15px;
    box-sizing: border-box;
}
.inputBlock input{
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    position: relative;
    max-width: 262px;
    width: 100%;
    box-sizing: border-box;
    padding: 12px 25px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    outline: none !important;
}
.inputBlock textarea{
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    position: relative;
    width: 317px;
    box-sizing: border-box;
    padding: 12px 25px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    outline: none !important;
    resize: none;
    height: 100px;
}
.inputBlock input:valid,
.inputBlock input:focus,
.inputBlock textarea:valid,
.inputBlock textarea:focus{
    border: 1px solid #000000;
}
.inputBlock input:invalid,
.inputBlock textarea:invalid{
    border: none;
}
.inputBlock .input{
    max-width: 317px;
    margin-top: 10px;
}
.textareaWrapper h4{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #58B4D1;
    margin-top: 15px;
    margin-bottom: 15px;
}
.textareaWrapper{
    width: 100%;
    margin-top: 25px;
}
.addInput img{
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
.addTextarea img{
    width: 32px;
    height: 32px;
    margin-bottom: 10px;
}
.textareaRow{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.addInput{
    width: 317px;
    padding: 10px;
    background: #FFFFFF;
    border: 1px dashed rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Century Gothic';
    font-weight: 700;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    margin-top: 35px;
}
.addTextarea{
    width: 317px;
    height: 100px;
    background: #FFFFFF;
    border: 1px dashed rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Century Gothic';
    font-weight: 700;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    margin-top: 35px;
}
.mt15{
    margin-top: 15px;
}
.mt25{
    margin-top: 25px;
}
.mt20{
    margin-top: 20px;
}
.mt45{
    margin-top: 45px;
}
.ml40{
    margin-left: 40px;
}
.btnsRow{
    display: flex;
    gap: 30px;
    margin-top: 40px;
}
.btn{
    display: block;
    border: none;
    width: 210px;
    padding: 12px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    background: #58B4D1;
    border-radius: 25px;
    font-family: 'Century Gothic';
    font-weight: 700;
    font-size: 14px;
    border: none;
    justify-content: center;
}
.removeDesc{
    display: block;
    border: none;
    width: 160px;
    padding: 12px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    background: #FB8500;
    border-radius: 25px;
    font-family: 'Century Gothic';
    font-weight: 700;
    font-size: 14px;
    border: none;
    justify-content: center;
    margin-top: 15px;
}
.btnOutlined{
    display: block;
    border: none;
    width: 210px;
    padding: 13px;
    display: flex;
    align-items: center;
    color: #58B4D1;
    background: #FFFFFF;
    border-radius: 25px;
    font-family: 'Century Gothic';
    font-weight: 700;
    font-size: 14px;
    border: none;
    justify-content: center;
    border: 1px solid #58B4D1;
}
.inputLabel{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 12px;
    color: #000000;
    margin-bottom: 10px;
}
.addwrapper input{
    max-width: 317px;
    width: 317px !important;
}
.counterWrapper{
    width: 317px;
    margin-bottom: 25px;
}
.countersRow{
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    gap: 30px;
}
.w317{
    max-width: 317px;
    width: 100%;
}
.w210{
    max-width: 210px;
    width: 100%;
}
.priceBlock{
    margin-left: 30px;
}
.priceBlock .inputBlock input{
    max-width:317px;
    width: 317px;
}
.subtitleBlue{
    color: #58B4D1;
}
.col50 .jcsb{
    margin-top: 15px;
}
.col50{
    flex-grow: .5;
}
.addQR{
    width: 317px;
    height: 317px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #FFFFFF;
    border: 1px dashed rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    font-family: 'Century Gothic';
    font-weight: 700;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.3);
    margin-top: 20px;
    cursor: pointer;
}
.addQR img{
    width: 48px;
    height: 48px;
    margin-bottom: 10px;
}
.modalTitle{
    font-family: 'Century Gothic';
    font-weight: 700;
    font-size: 16px;
    padding: 10px 0;
    border-bottom: 1px solid #58B4D1;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 30px;
}
.qrModalContent{
    width:730px;
}
.viewBlock{
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px 4px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 35px;
    font-family: 'Century Gothic';
    font-weight: 700;
    font-size: 24px;
    box-sizing: border-box;
}
.viewBlock p.mute{
    color: rgba(0, 0, 0, 0.3);
}
.addQRsm{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #FFFFFF;
    border: 1px dashed rgba(0, 0, 0, 0.3);
    font-family: 'Century Gothic';
    font-weight: 700;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.3);
    margin-top: 20px;
    cursor: pointer;
    text-align: center;
    position: relative;
}
.addQRsm img{
    width: 32px;
    height: 32px;
    margin-bottom: 10px;
}
.imageItem{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.imageItem img.result{
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;   
}
.imageItem .moreMoves{
    position: absolute;
    z-index: 100;
    width: 32px;
    height: 32px;
    cursor: pointer;
    top: 15px;
    right: 15px;
}
.optionsRow{
    display: flex;
    justify-content: space-between;
    max-width: 370px;
    width: 100%;
    flex-wrap: wrap;
}