
.distanceTitle{
    margin-top: 25px;
}
.inputsWrapper label{
    margin-top: 15px;
    max-width: 317px;
}
.distansInput{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

@media screen and (max-width: 565px){
    .distanceTitle{
        margin-top: 16px;
        margin-bottom: 16px;
    }
    .distansInput{
        gap: 12px;
    }
}