.edit, .editOutlined{
    background: #FB8500;
    border-radius: 25px;
    border: none;
    padding: 13px 17px;
    font-family: 'Century Gothic';
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin-top: 40px;
}
.editOutlined{
    background: #fff;
    border: 1px solid #58B4D1;
    color: #58B4D1;
}
.savebtn{
    background: #58B4D1;
    border-radius: 25px;
    border: none;
    padding: 13px;
    width: 210px;
    font-family: 'Century Gothic';
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin-top: 40px;
    box-sizing: border-box;
}
.inputRow{
    margin-top: 30px;
    display: flex;
    gap: 30px;
}
.inputTitle{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 12px;
    color: #000000;
}
.tourist{
    margin-top: 30px;
}
.closeBtn{
    font-family: 'Century Gothic';
    font-weight: 700;
    font-size: 14px;
    text-decoration-line: underline;
    color: #FB8500;
    cursor: pointer;
    margin-top: 20px;
}
.ModalRow{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.ModalRow:not(:last-child){
    margin-bottom: 30px;
}

.form .inputBlock, .form .inputBlock input, .form .inputBlock textarea{
    max-width:317px;
}
.inputBlock{
    /* margin-top: 15px; */
    max-width: 262px;
    width: 100%;
    position: relative;
}
.inputBlock p{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 12px;
    color: #000000;
    margin-bottom: 10px;
}
.inputBlock input, .inputBlock textarea{
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    position: relative;
    max-width: 262px;
    width: 100%;
    box-sizing: border-box;
    padding: 12px 25px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    outline: none !important;
}
.inputBlock textarea{
    resize: none;
    height: 100px;
}
.inputBlock input:valid,
.inputBlock input:focus,
.inputBlock textarea:valid,
.inputBlock textarea:focus{
    border: 1px solid #000000;
}
.inputBlock input:invalid,
.inputBlock textarea:invalid{
    border: none;
}
.inputBlock span{
    display: block;
    cursor: pointer;
    font-family: 'Century Gothic';
    font-weight: 700;
    font-size: 14px;
    text-decoration-line: underline;
    color: #FB8500;
    margin-top: 15px;
}


.btn200, .btn160{
    display: block;
    border: none;
    padding: 13px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    background: #58B4D1;
    border-radius: 25px;
    font-family: 'Century Gothic';
    font-weight: 700;
    font-size: 14px;
    border: none;
    justify-content: center;
    cursor: pointer;
}
.btn200:disabled, .btn160:disabled{
    opacity: 0.5;
}
.btn200{
    width: 200px;
}
.btn200.orange{
    background: #FB8500;
}
.btn160.outlined{
    background: #FFFFFF;
    border: 1px solid #58B4D1;
    border-radius: 25px;
    color: #58B4D1;
}
.btn160{
    width: 160px;
}
.btnsRow{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    gap: 30px;
}
.jcsb{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.modalTitle{
    font-family: 'Century Gothic';
    font-weight: 700;
    font-size: 16px;
    padding: 10px 0;
    border-bottom: 1px solid #58B4D1;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 30px;
}
.modalContent{
    max-width: 1012px;
}
.leftBlock .btn160{
    margin-top: 20px;
}
.addBtn img{
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
.addBtn{
    cursor: pointer;
    width: fit-content;
    padding: 11px 40px;
    background: #FFFFFF;
    border: 1px dashed rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    font-family: 'Century Gothic';
    font-weight: 700;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.footerBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 30px;
}