.account-page__title {
    font-family: 'Century Gothic';
    font-weight: 700;
    font-size: 24px;
    color: #000000;
    margin-bottom: 30px;
}
.account-page__subtitle {
    font-family: 'Century Gothic';
    font-weight: 700;
    font-size: 16px;
    color: #000000;
    margin-bottom: 20px;
}

.account-page__image-wrapper {
    width: 115px;
    height: 115px;
    border-radius: 50%;
    position: relative;
    margin-right: 86px;
    overflow: hidden;
}

.account-page__image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.account-page__info-list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 14px;
    color: #000000;
}

.account-page__info-list li:not(:last-child) {
    margin-bottom: 10px;
}

.account-page__info-list .mute {
    color: rgba(0, 0, 0, 0.6);
    margin-right: 10px;
}

.account-page__info-list .blue {
    font-family: 'Century Gothic';
    font-weight: 400;
    font-size: 14px;
    color: #58B4D1;
    margin-left: 10px;
}

.account-page__jcsb {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-between;
}

.account-page__section:not(:last-child) {
    margin-bottom: 56px;
}

.account-page__section:last-child {
    margin-bottom: 30px;
}

.account-page__btn:hover {
    box-shadow: 0px 4px 15px #58B4D1;
}
.account-page__btn {
    width: 231px;
    padding: 13px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    background: #58B4D1;
    border-radius: 25px;
    font-family: 'Century Gothic';
    font-weight: 700;
    font-size: 14px;
    border: none;
    justify-content: center;
}
.account-page__btn160 img{
    width: 32px;
    height: 32px;
    margin-right: 10px;
}
.account-page__btn160:hover {
    box-shadow: 0px 4px 15px #58B4D1;
}
.account-page__btn160 {
    width: 160px;
    padding: 8px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    background: #58B4D1;
    border-radius: 30px;
    font-family: 'Century Gothic';
    font-weight: 700;
    font-size: 14px;
    border: none;
    justify-content: center;
}
.account-page__breadcrumps{
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-bottom: 10px;
}
.account-page__breadcrumps p:not(:first-child){
    margin-left: 10px;
}
.account-page__breadcrumps p:not(:first-child)::before{
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 6px;
    margin-right: 10px;
    display: inline-block;
    background: #58B4D1;
    margin-bottom: 2px;
}
.account-page__btn-outline:hover {
    box-shadow: 0px 4px 15px #58B4D1;
}
.account-page__btn-outline {
    width: 231px;
    padding: 13px;
    display: flex;
    align-items: center;
    color: #58B4D1;
    background: #FFFFFF;
    border: 1px solid #58B4D1;
    border-radius: 25px;
    font-family: 'Century Gothic';
    font-weight: 700;
    font-size: 14px;
    justify-content: center;
}

.account-page__btn-dashed:hover {
    box-shadow: 0px 4px 15px #58B4D1;
}
.account-page__btn-dashed {
    width: 220px;
    padding: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #58B4D1;
    background: #FFFFFF;
    border: 1px dashed #58B4D1;
    border-radius: 30px;
    font-family: 'Century Gothic';
    font-weight: 700;
    font-size: 14px;
}

.account-page__btn-dashed img {
    width: 24px;
    height: 24px;
    display: block;
    margin-right: 10px;
}

.account-page__row {
    display: flex;
    flex-direction: row;
}

.account-page__row button:not(:last-child) {
    margin-right: 34px;
}

.decorations-section .account-page__btn-dashed {
    margin-bottom: 30px;
}

/* main banner */

.decorations-section .main__banner-link-list {
    position: relative;
    display: flex;
    bottom: 0;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 25px 0px 25px 0px;
    background: #ffffff;
    box-shadow: 0px 4px 15px 4px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
}

.decorations-section .main__banner-link-list-item {
    display: flex;
    flex-direction: row;
}

.decorations-section .main__banner-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.decorations-section .main__banner-link:hover .main__banner-link-text {
    color: #58b4d1;
}

.decorations-section .main__banner-link-list-item:hover .main__banner-link-text {
    color: #58b4d1;
    cursor: pointer;
}

.decorations-section .main__banner-link-image {
    display: block;
    margin: 0 auto;
    margin-right: 8px;
}

.decorations-section .main__banner-link-text {
    width: 100%;
    text-align: center;
    font-family: "Century Gothic";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}



.account-page__filter-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}
.account-page__filter-wrapper input {
    display: none;
}
.account-page__filter {
    display: flex;
    align-items: center;
    font-family: 'Century Gothic';
    font-weight: 400;
    font-size: 14px;
    gap: 10px;
    color: #000000;
}
.account-page__filter input{
    display: none;
}
.account-page__filter label{
    padding: 13px 20px;
    border-radius: 25px;
    box-sizing: border-box;
}
.account-page__filter input:checked + label{
    background: rgba(88, 180, 209, 0.3);
    font-weight: 700;
    box-sizing: border-box;
}
.account-page__filter-fill {
    display: flex;
    align-items: center;
    font-family: 'Century Gothic';
    font-weight: 700;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.3);
    background: #DFDFDF;
    border-radius: 25px;
}
.account-page__filter-fill label{
    padding: 13px 30px;
    border-radius: 25px;
    box-sizing: border-box;
}
.account-page__filter-fill input:checked + label{
    background: #58B4D1;
    color: #fff;
    box-sizing: border-box;
}

.account-page__result-wrapper{
    margin-top: 20px;
}
.account-page__btn-add-hotel{
    width: 100%;
    height: 275px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border: 1px dashed rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    margin-bottom: 30px;
    font-family: 'Century Gothic';
    font-weight: 700;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.account-page__btn-add-hotel img{
    width: 48px;
    height: 48px;
    margin-bottom: 10px;
}


.account-page__reviews-wrapper{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 20px;
}

.settings-page__btn-fill:hover{
    box-shadow: 0px 4px 15px #58B4D1;
}
.settings-page__btn-fill{
    display: block;
    border: none;
    width: 172px;
    padding: 13px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    background: #58B4D1;
    border-radius: 25px;
    font-family: 'Century Gothic';
    font-weight: 700;
    font-size: 14px;
    border: none;
    justify-content: center;
}
.settings-page__btn-submit:hover{
    box-shadow: 0px 4px 15px #58B4D1;
}
.settings-page__btn-submit{
    display: block;
    border: none;
    width: 200px;
    padding: 13px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    background: #58B4D1;
    border-radius: 25px;
    font-family: 'Century Gothic';
    font-weight: 700;
    font-size: 14px;
    border: none;
    justify-content: center;
}
.settings-page__btn-outlined:hover{
    box-shadow: 0px 4px 15px #58B4D1;
}
.settings-page__btn-outlined{
    display: block;
    border: none;
    width: 172px;
    padding: 13px;
    display: flex;
    align-items: center;
    color: #58B4D1;
    background: #fff;
    border-radius: 25px;
    font-family: 'Century Gothic';
    font-weight: 700;
    font-size: 14px;
    border: 1px solid #58B4D1;
    justify-content: center;
    margin-top: 15px;
}
.account-page__settings-form .account-page__subtitle:not(:first-child){
    margin-top: 30px;
}
.account-page__settings-form button{
    cursor: pointer;
}
.account-page__settings-form .settings-page__btn-submit{
    margin-top: 30px;
}
.account-page__inputs-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}
.account-page__input-block{
    margin-top: 20px;
    max-width: 318px;
    width: 100%;
    position: relative;
}
.account-page__input-position{
    position: relative;
    width: 100%;
}
.account-page__input-block p{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 12px;
    color: #000000;
    margin-bottom: 10px;
}
.account-page__input-block input{
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    position: relative;
    max-width: 318px;
    width: 100%;
    box-sizing: border-box;
    padding: 12px 25px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    outline: none !important;
}
.account-page__input-block input:valid,
.account-page__input-block input:disabled:valid,
.account-page__input-block input:focus{
    border: 1px solid #000000;
}
.account-page__input-block input:invalid{
    border: none;
}
.account-page__input-block span{
    display: block;
    cursor: pointer;
    font-family: 'Century Gothic';
    font-weight: 700;
    font-size: 14px;
    text-decoration-line: underline;
    color: #FB8500;
    margin-top: 15px;
}
.account-page__input-block input[type="placeholder"]{}
.account-page__input-block .account-page__invisible-eye,
.account-page__input-block .account-page__visible-eye{
    position: absolute;
    right: 25px;
    top: 10px;
    z-index: 100;
    cursor: pointer;
}

.card-description__owner.small{
    max-width: 318px;
    max-height: fit-content;
}
.card-description__owner.small .card-description__owner-write{
    width: 220px;
    box-sizing: border-box;
    padding: 13px 15px;
}
.messenger-page__row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 20px;
}
.messenger-page__chat-wrapper{
    flex-grow: 1;
}
.messenger-page__back-btn{
    display: flex;
    align-items: center;
}
.messenger-page__back-btn img{
    width: 32px;
    height: 32px;
    margin-right: 10px;
}
.messenger-page__send-block{
    width: 100%;
    display: flex;
    gap: 30px;
    margin-top: 30px;
}
.messenger-page__btn-send:hover{
    box-shadow: 0px 4px 15px #58B4D1;
}
.messenger-page__btn-send{
    display: block;
    border: none;
    width: 176px;
    padding: 13px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    background: #58B4D1;
    border-radius: 25px;
    font-family: 'Century Gothic';
    font-weight: 700;
    font-size: 14px;
    border: none;
    justify-content: center;
}
.messenger-page__input-block{
    flex-grow: 1;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px 4px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    padding: 13px 25px;
    display: flex;
    align-items: center;
}
.messenger-page__input-block input{
    width: 100%;
    margin-left: 20px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    outline: none !important;
}
.messenger-page__input-block button{
    background: none;
    border: none;
}
.messenger-page__input-block button img{
    width: 24px;
    height: 24px;
}
.messenger-page__chat{
    /* height: calc(100vh - 300px); */
    height: 630px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 25px;
    box-sizing: border-box;
    margin-top: 30px;
    padding: 30px 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.messenger-page__date{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: #000000;
}
.messenger-page__messages{
    max-height: 100%;
    overflow-y: auto;
}
.account-page__radios{
    position: absolute;
    top: 83px;
    left: 0;
    z-index: 100;
    padding: 30px;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    box-sizing: border-box;
    display: none;
}
.account-page__radios::after{
    content: "";
    position: absolute;
    width: 13px;
    height: 13px;
    background: #FFFFFF;
    border-width: 1px 0px 0px 1px;
    border-style: solid;
    border-color: #000000;
    left: 50%;
    top: -2px;
    transform: rotate(45deg) translateX(-50%);
}
.account-page__radios:hover{
    display: block;
}
.account-page__radios label p{
    margin-bottom: 0;
}
.account-page__radios label{
    margin-bottom: 0;
}
.account-page__radios label:not(:last-child){
    margin-bottom: 17px;
}
.account-page__input-with-radio:focus + .account-page__radios{
    display: block;
}

.account-page__settings-form .account-page__image-wrapper{
    margin-right: 30px;
}
.main__banner-link-text.active{
    color: #58B4D1;
}
.tourist-options__bold{
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    margin-right: 6px;
}
.tourist-options__line{
    width: 100%;
    height: 1px;
    background: #dfdfdf;
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
}
.account-page__tourist-options li{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 10px;
}
.account-page__upload-photo-btn img{
    width: 48px;
    height: 48px;
    margin-bottom: 10px;
}
.account-page__upload-photo-btn{
    width: 317px;
    height: 317px;
    background: #FFFFFF;
    border: 1px dashed rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Century Gothic';
    font-weight: 700;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.3);
    margin-top: 30px;
}
.image-item{
    width: 100%;
    height: 100%;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
}
.image-item img.result-photo{
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
.image-item .btn-more-moves{
    position: absolute;
    z-index: 100;
    width: 32px;
    height: 32px;
    cursor: pointer;
    top: 15px;
    right: 15px;
}
.image-item__three-dots{
    position: relative;
}
.image-item__three-dots .image-item__btn-wrapper{
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    width: 160px;
    box-sizing: border-box;
    top: 50px;
    right: 0;
}
.image-item__btn-wrapper{
    position: absolute;
    right: 15px;
    top: 57px;
    padding: 20px;
    background: #fff;
    border-radius: 25px;
    width: fit-content;
    display: flex;
    flex-direction: column;
}
.image-item__btn-wrapper button{
    font-family: 'Century Gothic';
    font-weight: 400;
    font-size: 14px;
    background: none;
    border: none;
    text-align: left;
}
.image-item__btn-wrapper button:not(:last-child){
    margin-bottom: 15px;
}
.account-page__hotel-textarea{
    background: #FFFFFF;
    box-shadow: 0px 4px 15px 4px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    resize: none;
    width: 100%;
    height: 270px;
    box-sizing: border-box;
    padding: 25px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}
.account-page__input-block-title{
    font-family: 'Century Gothic';
    font-weight: 700;
    font-size: 16px;
    color: #58B4D1;
    margin-top: 30px;
    margin-bottom: 25px;
}
.account-page__options-table th{
    padding: 20px 0;
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
}
.account-page__options-table{
    width: 100%;
    border-collapse: collapse;
}
.account-page__options-table tr{
    border-bottom: 1px solid #dfdfdf;
}
.account-page__options-table td{
    padding: 20px 0;
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}
.account-page__options-table td p{
    max-width: 317px;
}
.account-page__options-table td div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.account-page__title-text{
    max-width: 414px;
    width: 100%;
    margin-top: 30px;

}
.account-page__wallet-row{
    display: flex;
    gap: 30px;
    align-items: center;
    flex-wrap: wrap;
}
.account-page__balance-desc{
    max-width: 440px;
}
.account-page__wallet-ballance-card img{
    width: 24px;
    height: 24px;
}
.account-page__wallet-ballance-card{
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 25px;
    padding: 35px 40px;
    box-sizing: border-box;
    max-width: 317px;
    width: 100%;
}
.account-page__wallet-ballance{
    font-weight: 700;
    font-size: 36px;
}
.account-page__add-ballance-btn:hover{
    box-shadow: 0px 4px 15px #58B4D1;
}
.account-page__add-ballance-btn{
    width: 100%;
    padding: 13px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    background: #58B4D1;
    border-radius: 25px;
    font-family: 'Century Gothic';
    font-weight: 700;
    font-size: 14px;
    border: none;
    justify-content: center;
    margin-top: 35px;
}
.account-page__row-30{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 30px;
}
.account-page__wallet-card{
    width: 317px;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px 4px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    padding: 30px 35px;
    padding-right: 50px;
    box-sizing: border-box;
    position: relative;
}
.account-page__wallet-card img{
    width: 50px;
    height: 30px;
    margin-top: 15px;
}
.account-page__wallet-card .account-page__jcsb h2{
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 15px;
}
.account-page__btn-remove-card:hover img:first-child{
    display: none;
}
.account-page__btn-remove-card:hover img:last-child{
    display: block;
}
.account-page__btn-remove-card img:first-child{
    display: block;
}
.account-page__btn-remove-card img:last-child{
    display: none;
}
.account-page__btn-remove-card img{
    width: 24px !important;
    height: 24px !important;
}
.account-page__btn-remove-card{
    position: absolute;
    top: 15px;
    right: 15px;
}
.account-page__wallet-add-card img{
    width: 48px;
    height: 48px;
    margin-bottom: 10px;
}
.account-page__wallet-add-card{
    background: #FFFFFF;
    border: 1px dashed rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    width: 317px;
    height: 156px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 700;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.account-page__history-title{
    margin-top: 25px;
}
.account-page__history{
    margin-top: 15px;
}
.account-page__line{
    width: 100%;
    height: 1px;
    background: #DFDFDF;
    margin-top: 30px;
    display: block;
}
.ballance-page__title{
    font-family: 'Century Gothic';
    font-weight: 700;
    font-size: 16px;
    padding: 10px 0;
    border-bottom: 1px solid #58B4D1;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 30px;
}
.ballance-page__company-imgs{
    width: 260px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.balance-page__input-number{
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    outline: none !important;
    padding: 12px 25px;
    width: 410px;
    padding-right: 0;
    box-sizing: border-box;
    margin-top: 25px;
}
.balance-page__input-date{
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    outline: none !important;
    padding: 12px 25px;
    padding-right: 0;
    width: 102px;
    box-sizing: border-box;
}
.balance-page__input-ccv{
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    outline: none !important;
    padding: 12px 25px;
    padding-right: 0;
    width: 176px;
    box-sizing: border-box;
}
.balance-page__inputs-row{
    display: flex;
    gap: 15px;
    margin-top: 20px;
    width: 410px;
}
.balance-page__btns button:hover{
    box-shadow: 0px 4px 15px #58B4D1;
}
.balance-page__btns button{
    max-width: 160px;
}
.balance-page__btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}
.ballance-page__desc{
    max-width: 310px;
    margin-top: 25px;
}
.ballance-page__center-text{
    text-align: center;
    max-width: 330px;
    width: fit-content;
    margin: 0 auto;
}
.ballance-page__modal-content label{
    margin-top: 20px;
}
.ballance-page__modal-content{
    width: 410px;
}
.account-page__btn-100:hover{
    box-shadow: 0px 4px 15px #58B4D1;
}
.account-page__btn-100{
    width: 100%;
    padding: 13px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    background: #58B4D1;
    border-radius: 25px;
    font-family: 'Century Gothic';
    font-weight: 700;
    font-size: 14px;
    border: none;
    justify-content: center;
    margin-top: 30px;
}
button{
    cursor: pointer;
}
.ballance-page__card-radios{
    margin-left: 20px;
}
.ballance-page__card-radios label{
    align-items: flex-start;
}
.messenger-page__btn-send-mobile img{
    width: 18px !important;
    height: 18px !important;
}
.messenger-page__btn-send-mobile{
    display: none;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    background: #58B4D1 !important;
    border-radius: 50%;
}
.account-page__filter-btns{
    display: none;
}
.account-page__filter-title{
    display: none;
}
.account-page__filter-mobile{
    display: none;
}
.intitle .blue-eye{
    display: none;
}
.account-page__back-btn{
    display: none;
}
@media screen and (max-width: 1150px) {
    .account-page__back-btn{
        display: block;
        margin-bottom: 24px;
    }
    .profile-page .account-page__row{
        flex-wrap: wrap;
    }
    .profile-page .account-page__jcsb{
        flex-wrap: wrap;
    }
    .profile-page .account-page__info-list{
        margin-top: 16px;
    }
    .profile-page .account-page__info-list .blue{
        display: block;
        margin: 0;
    }
    .account-page__title{
        font-size: 16px;
    }
}
@media screen and (max-width: 565px) {
    .account-page__input-block input{
        max-width: 100%;
    }
    .account-page__input-block {
        max-width: 100%;
    }
    .profile-page .account-page__row button:not(:last-child){
        margin-right: 0;
    }
    .profile-page .account-page__row button{
        width: 100%;
    }
    .profile-page .account-page__btn{
        margin-bottom: 12px;
    }
    .messenger-page__input-block{
        flex-wrap: wrap;
        padding: 12px;
    }
    .messenger-page__send-block{
        flex-direction: column;
    }
    .messenger-page__input-block button:first-child {
        margin-right: 10px;
    }
    .messenger-page__input-block input {
        margin: 0;
    }
    .messenger-page__btn-send-mobile{
        display: flex;
        margin-left: auto;
        margin-right: 0;
    }
    .messenger-page__btn-send{
        display: none;
    }
    .messenger-page__input-block button {
        order: 1;
        margin-top: 25px;
    }
    .balance-page__input-number{
        width: 100%;
        margin-top: 16px;
    } 
    .balance-page__input-ccv{
        width: 100%;
    }
    .balance-page__input-date{
        width: calc(50% - 10px);
    }
    .balance-page__inputs-row{
        flex-wrap: wrap;
        width: 100%;
    }
    .balance-page__btns{
        flex-wrap: wrap;
        gap: 12px;
        margin-top: 12px;
    }
    .balance-page__btns button{
        max-width: 100%;
        width: 100%;
    }
    .ballance-page__desc{
        max-width: 100%;
        margin-top: 12px;
    }
    .ballance-page__modal-content{
        width: 100%;
    }
    .account-page__wallet-card{
        width: fit-content;
    }
    .account-page__filter-wrapper-mobile.visible{
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: #fff;
        z-index: 1000;
        /* padding: 16px; */
        box-sizing: border-box;
    }
    .account-page__filter-wrapper-mobile.visible .line{
        display: block;
        margin-top: 24px;
        width: 100%;
        height: 1px;
        background: #dfdfdf;
    }
    .account-page__filter-wrapper-mobile{
        display: none;
    }
    .account-page__filter-wrapper{
        flex-direction: column;
        align-items: start;
    }
    .account-page__filter-mobile{
        font-weight: 700;
        font-size: 14px;
        display: flex;
        align-items: center;
        gap: 12px;
        cursor: pointer;
    }

    .decorations-section .main__banner-link-list {
        align-items: start;
        justify-content: start;
        display: flex;
        flex-direction: column;
        padding: 16px;
        background: #FFFFFF;
        box-shadow: 0px 4px 15px 4px rgba(0, 0, 0, 0.15);
        border-radius: 25px;
        box-sizing: border-box;
    }

    .decorations-section .main__banner-link-list-item {
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
    }
    .account-page__filter{
        flex-direction: column;
        align-items: start;
    }
    .account-page__filter-btns{
        display: flex;
        margin-top: auto;
        margin-bottom: 0;
        margin-bottom: -16px;
        margin-left: -16px;
        margin-right: -16px;
        width: 100vw;
        background: #FFFFFF;
        box-shadow: 0px 4px 15px 4px rgba(0, 0, 0, 0.15);
        border-radius: 25px 25px 0px 0px;
        padding: 18px 16px;
        box-sizing: border-box;
        justify-content: space-between;
        align-items: center;
    }
    .account-page__filter-btns button{
        width: calc(50% - 10px);
    }
    .account-page__filter-title img{
        position: absolute;
        left: 0;
    }
    .account-page__filter-title{
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        font-size: 14px;
        margin-bottom: 24px;
        position: relative;
    }
    .decorations-section .searching-results__btn-wrapper a:not(:first-child){
        margin: 0;
    }
    .decorations-section .searching-results__btn-wrapper a{
        width: 100%;
    }
    .decorations-section .searching-results__btn-wrapper .account-page__row{
        gap: 12px;
        width: 100%;
    }
    .decorations-section .searching-results__btn-wrapper .account-page__row,
    .decorations-section .searching-results__btn-wrapper{
        flex-wrap: wrap;
        gap: 12px;
    }
    .decorations-section .housing-catalog__searching-results-image,
    .decorations-section .housing-catalog__searching-results-image img{
        width: 100% !important;
    }
    .account-page__filter-fill label{
        width: 100%;
        text-align: center;
    }
    .account-page__filter-fill{
        flex-direction: column;
        margin-bottom: 24px;
        margin-top: 24px;
    }
    .decorations-section .account-page__jcsb.title-row{
        flex-direction: column;
    }
    .decorations-section .account-page__btn-dashed{
        width: 100%;
        margin-top: 15px;
    }
    .account-page__filter-scroll{
        max-height: 100vh;
        overflow-y: auto;
        padding: 16px;
        box-sizing: border-box;
    }
    .account-page__upload-photo-btn{
        margin: 0;
        margin-top: 24px;
        width: 100%;
    }
    .create-hotel-page .account-page__inputs-row{
        gap: 12px;
    }
    .create-hotel-page .account-page__input-block{
        margin-top: 0;
    }
    .intitle{
        width: fit-content;
        padding: 0;
        background: none;
        height: fit-content;
    }
    .intitle p{
        display: none;
    }
    .intitle img:not(.blue-eye){
        display: none;
    }
    .intitle .blue-eye{
        display: block;
        margin: 0;
    }
    .account-page__breadcrumps{
        display: none;
    }
    .account-page__inputs-row{
        gap: 12px;
    }
    .account-page__input-block{
        margin-top: 0;
    }
}

.responsiveTable {
    width: 100%;
  }
  
  .responsiveTable td .tdBefore {
    display: none;
  }
  
  @media screen and (max-width: 40em) {
    .responsiveTable table,
    .responsiveTable thead,
    .responsiveTable tbody,
    .responsiveTable th,
    .responsiveTable td,
    .responsiveTable tr {
      display: block;
    }
  
    .responsiveTable thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
      border-bottom: 2px solid #333;
    }
  
    .responsiveTable tbody tr {
      padding: 16px 0;
      border-top: 1px solid #DFDFDF;
    }
  
    .responsiveTable td.pivoted:not(:first-child) {
        border: none !important;
        position: relative;
        padding-left: calc(50% + 10px) !important;
        text-align: left !important;
        white-space: pre-wrap;
        overflow-wrap: break-word;
      }
    .responsiveTable td .tdBefore {
      position: absolute;
      display: block;
      left: 0;
      width: calc(80% - 20px);
      white-space: pre-wrap;
      overflow-wrap: break-word;
      text-align: left !important;
      font-weight: 700;
    }
    .account-page__options-table td{
        padding: 0 !important;
    }
    .account-page__options-table td:not(:last-child){
        margin-bottom: 14px;
    }
  }
  