.account-page__title {
    font-family: 'Century Gothic';
    font-weight: 700;
    font-size: 24px;
    color: #000000;
    margin-bottom: 30px;
}
.account-page__subtitle {
    font-family: 'Century Gothic';
    font-weight: 700;
    font-size: 16px;
    color: #000000;
    margin-bottom: 20px;
}

.account-page__image-wrapper {
    width: 115px;
    height: 115px;
    border-radius: 50%;
    position: relative;
    margin-right: 86px;
    overflow: hidden;
}

.account-page__image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.account-page__info-list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 14px;
    color: #000000;
}

.account-page__info-list li:not(:last-child) {
    margin-bottom: 10px;
}

.account-page__info-list .mute {
    color: rgba(0, 0, 0, 0.6);
    margin-right: 10px;
}

.account-page__info-list .blue {
    font-family: 'Century Gothic';
    font-weight: 400;
    font-size: 14px;
    color: #58B4D1;
    margin-left: 10px;
}

.account-page__jcsb {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-between;
}

.account-page__section:not(:last-child) {
    margin-bottom: 56px;
}

.account-page__section:last-child {
    margin-bottom: 30px;
}

.account-page__btn {
    width: 231px;
    padding: 13px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    background: #58B4D1;
    border-radius: 25px;
    font-family: 'Century Gothic';
    font-weight: 700;
    font-size: 14px;
    border: none;
    justify-content: center;
}
.account-page__btn160 img{
    width: 32px;
    height: 32px;
    margin-right: 10px;
}
.account-page__btn160 {
    width: 160px;
    padding: 8px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    background: #58B4D1;
    border-radius: 30px;
    font-family: 'Century Gothic';
    font-weight: 700;
    font-size: 14px;
    border: none;
    justify-content: center;
}
.account-page__breadcrumps{
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-bottom: 10px;
}
.account-page__breadcrumps p:not(:first-child){
    margin-left: 10px;
}
.account-page__breadcrumps p:not(:first-child)::before{
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 6px;
    margin-right: 10px;
    display: inline-block;
    background: #58B4D1;
    margin-bottom: 2px;
}
.account-page__btn-outline {
    width: 231px;
    padding: 13px;
    display: flex;
    align-items: center;
    color: #58B4D1;
    background: #FFFFFF;
    border: 1px solid #58B4D1;
    border-radius: 25px;
    font-family: 'Century Gothic';
    font-weight: 700;
    font-size: 14px;
    justify-content: center;
}

.account-page__btn-dashed {
    width: 220px;
    padding: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #58B4D1;
    background: #FFFFFF;
    border: 1px dashed #58B4D1;
    border-radius: 30px;
    font-family: 'Century Gothic';
    font-weight: 700;
    font-size: 14px;
}

.account-page__btn-dashed img {
    width: 24px;
    height: 24px;
    display: block;
    margin-right: 10px;
}

.account-page__row {
    display: flex;
    flex-direction: row;
}

.account-page__row button:not(:last-child) {
    margin-right: 34px;
}

.decorations-section .account-page__btn-dashed {
    margin-bottom: 30px;
}

/* main banner */

.decorations-section .main__banner-link-list {
    position: relative;
    display: flex;
    bottom: 0;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 25px 0px 25px 0px;
    background: #ffffff;
    box-shadow: 0px 4px 15px 4px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
}

.decorations-section .main__banner-link-list-item {
    display: flex;
    flex-direction: row;
}

.decorations-section .main__banner-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.decorations-section .main__banner-link:hover .main__banner-link-text {
    color: #58b4d1;
}

.decorations-section .main__banner-link-list-item:hover .main__banner-link-text {
    color: #58b4d1;
    cursor: pointer;
}

.decorations-section .main__banner-link-image {
    display: block;
    margin: 0 auto;
    margin-right: 8px;
}

.decorations-section .main__banner-link-text {
    width: 100%;
    text-align: center;
    font-family: "Century Gothic";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}



.account-page__filter-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}
.account-page__filter-wrapper input {
    display: none;
}
.account-page__filter {
    display: flex;
    align-items: center;
    max-width: 465px;
    width: 100%;
    justify-content: space-between;
    font-family: 'Century Gothic';
    font-weight: 400;
    font-size: 14px;
    color: #000000;
}
.account-page__filter input{
    display: none;
}
.account-page__filter label{
    padding: 13px 20px;
    border-radius: 25px;
    box-sizing: border-box;
}
.account-page__filter input:checked + label{
    background: rgba(88, 180, 209, 0.3);
    font-weight: 700;
    box-sizing: border-box;
}
.account-page__filter-fill {
    display: flex;
    align-items: center;
    font-family: 'Century Gothic';
    font-weight: 700;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.3);
    background: #DFDFDF;
    border-radius: 25px;
}
.account-page__filter-fill label{
    padding: 13px 30px;
    border-radius: 25px;
    box-sizing: border-box;
}
.account-page__filter-fill input:checked + label{
    background: #58B4D1;
    color: #fff;
    box-sizing: border-box;
}

.account-page__result-wrapper{
    margin-top: 20px;
}
.account-page__btn-add-hotel{
    width: 100%;
    height: 275px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border: 1px dashed rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    margin-bottom: 30px;
    font-family: 'Century Gothic';
    font-weight: 700;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.account-page__btn-add-hotel img{
    width: 48px;
    height: 48px;
    margin-bottom: 10px;
}


.account-page__reviews-wrapper{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 20px;
}

.settings-page__btn-fill{
    display: block;
    border: none;
    width: 172px;
    padding: 13px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    background: #58B4D1;
    border-radius: 25px;
    font-family: 'Century Gothic';
    font-weight: 700;
    font-size: 14px;
    border: none;
    justify-content: center;
}
.settings-page__btn-submit{
    display: block;
    border: none;
    width: 200px;
    padding: 13px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    background: #58B4D1;
    border-radius: 25px;
    font-family: 'Century Gothic';
    font-weight: 700;
    font-size: 14px;
    border: none;
    justify-content: center;
}
.settings-page__btn-outlined{
    display: block;
    border: none;
    width: 172px;
    padding: 13px;
    display: flex;
    align-items: center;
    color: #58B4D1;
    background: #fff;
    border-radius: 25px;
    font-family: 'Century Gothic';
    font-weight: 700;
    font-size: 14px;
    border: 1px solid #58B4D1;
    justify-content: center;
    margin-top: 15px;
}
.account-page__settings-form .account-page__subtitle:not(:first-child){
    margin-top: 30px;
}
.account-page__settings-form button{
    cursor: pointer;
}
.account-page__settings-form .settings-page__btn-submit{
    margin-top: 30px;
}
.account-page__inputs-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}
.account-page__input-block{
    margin-top: 20px;
    max-width: 318px;
    width: 100%;
    position: relative;
}
.account-page__input-position{
    position: relative;
    width: 100%;
}
.account-page__input-block p{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 12px;
    color: #000000;
    margin-bottom: 10px;
}
.account-page__input-block input{
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    position: relative;
    max-width: 318px;
    width: 100%;
    box-sizing: border-box;
    padding: 12px 25px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    outline: none !important;
}
.account-page__input-block input:valid,
.account-page__input-block input:focus{
    border: 1px solid #000000;
}
.account-page__input-block input:invalid{
    border: none;
}
.account-page__input-block span{
    display: block;
    cursor: pointer;
    font-family: 'Century Gothic';
    font-weight: 700;
    font-size: 14px;
    text-decoration-line: underline;
    color: #FB8500;
    margin-top: 15px;
}
.account-page__input-block input[type="placeholder"]{}
.account-page__input-block .account-page__invisible-eye,
.account-page__input-block .account-page__visible-eye{
    position: absolute;
    right: 25px;
    top: 10px;
    z-index: 100;
    cursor: pointer;
}

.card-description__owner.small{
    max-width: 318px;
    max-height: fit-content;
}
.card-description__owner.small .card-description__owner-write{
    width: 220px;
    box-sizing: border-box;
    padding: 13px 15px;
}
.messenger-page__row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 20px;
}
.messenger-page__chat-wrapper{
    flex-grow: 1;
}
.messenger-page__back-btn{
    display: flex;
    align-items: center;
}
.messenger-page__back-btn img{
    width: 32px;
    height: 32px;
    margin-right: 10px;
}
.messenger-page__send-block{
    width: 100%;
    display: flex;
    gap: 30px;
    margin-top: 30px;
}
.messenger-page__btn-send{
    display: block;
    border: none;
    width: 176px;
    padding: 13px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    background: #58B4D1;
    border-radius: 25px;
    font-family: 'Century Gothic';
    font-weight: 700;
    font-size: 14px;
    border: none;
    justify-content: center;
}
.messenger-page__input-block{
    flex-grow: 1;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px 4px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    padding: 13px 25px;
    display: flex;
    align-items: center;
}
.messenger-page__input-block input{
    width: 100%;
    margin-left: 20px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    outline: none !important;
}
.messenger-page__input-block button{
    background: none;
    border: none;
}
.messenger-page__input-block button img{
    width: 24px;
    height: 24px;
}
.messenger-page__chat{
    /* height: calc(100vh - 300px); */
    height: 630px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 25px;
    box-sizing: border-box;
    margin-top: 30px;
    padding: 30px 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.messenger-page__date{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: #000000;
}
.messenger-page__messages{
    max-height: 100%;
    overflow-y: auto;
}
.account-page__radios{
    position: absolute;
    top: 83px;
    left: 0;
    z-index: 100;
    padding: 30px;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    box-sizing: border-box;
    display: none;
}
.account-page__radios::after{
    content: "";
    position: absolute;
    width: 13px;
    height: 13px;
    background: #FFFFFF;
    border-width: 1px 0px 0px 1px;
    border-style: solid;
    border-color: #000000;
    left: 50%;
    top: -2px;
    transform: rotate(45deg) translateX(-50%);
}
.account-page__radios:hover{
    display: block;
}
.account-page__radios label p{
    margin-bottom: 0;
}
.account-page__radios label{
    margin-bottom: 0;
}
.account-page__radios label:not(:last-child){
    margin-bottom: 17px;
}
.account-page__input-with-radio:focus + .account-page__radios{
    display: block;
}

.account-page__settings-form .account-page__image-wrapper{
    margin-right: 30px;
}
.main__banner-link-text.active{
    color: #58B4D1;
}
.tourist-options__bold{
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    margin-right: 6px;
}
.tourist-options__line{
    width: 100%;
    height: 1px;
    background: #dfdfdf;
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
}
.account-page__tourist-options li{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 10px;
}
.account-page__upload-photo-btn img{
    width: 48px;
    height: 48px;
    margin-bottom: 10px;
}
.account-page__upload-photo-btn{
    width: 317px;
    height: 317px;
    background: #FFFFFF;
    border: 1px dashed rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Century Gothic';
    font-weight: 700;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.3);
    margin-top: 30px;
}
.image-item{
    width: 100%;
    height: 100%;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
}
.image-item img.result-photo{
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
.image-item .btn-more-moves{
    position: absolute;
    z-index: 100;
    width: 32px;
    height: 32px;
    cursor: pointer;
    top: 15px;
    right: 15px;
}
.image-item__btn-wrapper{
    position: absolute;
    right: 15px;
    top: 57px;
    padding: 20px;
    background: #fff;
    border-radius: 25px;
    width: fit-content;
    display: flex;
    flex-direction: column;
}
.image-item__btn-wrapper button{
    font-family: 'Century Gothic';
    font-weight: 400;
    font-size: 14px;
    background: none;
    border: none;
    text-align: left;
}
.image-item__btn-wrapper button:not(:last-child){
    margin-bottom: 15px;
}
.account-page__hotel-textarea{
    background: #FFFFFF;
    box-shadow: 0px 4px 15px 4px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    resize: none;
    width: 100%;
    height: 270px;
    box-sizing: border-box;
    padding: 25px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}
.account-page__input-block-title{
    font-family: 'Century Gothic';
    font-weight: 700;
    font-size: 16px;
    color: #58B4D1;
    margin-top: 30px;
    margin-bottom: 25px;
}
.account-page__options-table th{
    padding: 20px 0;
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
}
.account-page__options-table{
    width: 100%;
    border-collapse: collapse;
}
.account-page__options-table tr{
    border-bottom: 1px solid #dfdfdf;
}
.account-page__options-table td{
    padding: 20px 0;
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}
.account-page__options-table td p{
    max-width: 317px;
}
.account-page__options-table td div{
    display: flex;
    justify-content: center;
    align-items: center;
}