.card-map .town-card__map {
  margin-bottom: 20px;
}
.card-map__text-and-link {
  width: 100%;
  padding: 0 12%;
  box-sizing: border-box;
}

.card-map__text {
  width: 50%;
  box-sizing: border-box;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
  margin-bottom: 15px;
}
.card-map__link {
  display: block;
  font-family: "Century Gothic";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-decoration-line: underline;
  color: #fb8500;
  padding-bottom: 65px;
}
@media (max-width: 1150px) {
  .card-map .prefooter__title-text {
    margin: 0 50px;
  }
  .card-map__text-and-link {
    padding: 0 5%;
  }
}
@media (max-width: 800px) {
  .card-map__text {
    width: 100%;
  }
  .card-map .prefooter__title-text {
    margin: 0 30px;
  }
}
@media (max-width: 450px) {
  .card-map .prefooter__title-text {
    margin: 0 15px;
  }
}
